html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: white;
  font-variation-settings: "opsz" 32;
}

html img,
html image {
  max-width: 100%;
  max-height: 100%;
}

/*html.dark * {*/
/*  background: #333 !important;*/
/*  color: #fff !important;*/
/*}*/

/*html.light * {*/
/*  background: #fff !important;*/
/*  color: #333 !important;*/
/*}*/

/*html.sepia * {*/
/*  background: #F1E5D9 !important;*/
/*  color: #333 !important;*/
/*}*/

a:link,
a:visited {
  color: #2c8dc2 !important;
}

* {
  word-wrap: break-word !important;
}

@font-face {
  font-family: "Merriweather";
  src: url("/_fonts/variable/Merriweather.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Literata";
  src: url("/_fonts/variable/Literata.ttf") format("truetype-variations");
}

@font-face {
  font-family: "RobotoMono";
  src: url("/_fonts/variable/RobotoMono.ttf") format("truetype-variations");
}

.__highlight-bold {
  text-shadow: 1px 1px 1px black;
}

.__note-has-desc {
  text-decoration-line: underline;
}
